html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.wrapper{
    display: flex;
    height: 100%;
}

.section{
    flex: 1;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.section__link{
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}

.section:hover .section__logo{
    top: 50%;
    transform: translate(-50%, -50%);
}

.section:hover .demo{
    opacity: 1;
    transition: .5s;
}

.section__logo{
    position: absolute;
    top: 0%;
    left: 50%;
    transition: .5s;
}

.section__logo_trans-air{
    transform: translate(-50%, -60%);
}

.section__logo_trans-cow{
    transform: translate(-50%, -70%);
}

.section__logo_trans-fit{
    transform: translate(-50%, -80%);
}
.airplanet{
    background-image: url('../images/kzhhnb6xsqi-margo-brodowicz.png');
}

.coworking{
    background-image: url('../images/wei.png');
}

.fitness{
    background-image: url('../images/gym-595597_1920.png');
}

.demo{
    display: flex;
    padding: 10px 20px;
    border-radius: 30px;
    text-transform: uppercase;
    border: 1px solid #f89513;
    color: #fff;
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    opacity: 0;
}

.demo_air{
    border: 1px solid #4b73b5;
    color: #4b73b5;
}

.demo_cow{
    border: 1px solid #ec1e79;
    color: #fff;
}

.demo:hover{
    background-color: #f89513;
}

.demo_air:hover {
    background-color:#4b73b5;
    color: #fff;
}

.demo_cow:hover{
    background-color: #ec1e79;
}