@font-face {
    font-family: 'open_sansbold';
    src: url('../../fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../../fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight';
    src: url('../../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_sanslight_italic';
    src: url('../../fonts/opensans-lightitalic-webfont.woff2') format('woff2'),
         url('../../fonts/opensans-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gora_freeregular';
    src: url('../../fonts/gora-free-webfont.woff2') format('woff2'),
         url('../../fonts/gora-free-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Gotham Pro';
    src: url('../../fonts/subset-GothamPro-Lightitalic.woff2') format('woff2'),
        url('../../fonts/subset-GothamPro-Lightitalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('../../fonts/GothamPro-Light.woff2') format('woff2'),
        url('../../fonts/GothamPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('../../fonts/GothamPro-Bold.woff2') format('woff2'),
        url('../../fonts/GothamPro-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}