.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination_reviews .pagination__item_active .pagination__link{
    color: #ec1e79;
}
.pagination__info{
    color: #656464;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.pagination__controls{
    margin-left: 20px;
    display: flex;
}

.pagination__list{
    margin: 0 5px;
    display: flex;
}

.pagination__link{
    display: flex;
    color: #221f1f;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    padding: 7px 10px;
    background-repeat: no-repeat;
    background-position: center center;
}

.pagination__link:hover{
    color: #ae2264;
}

.pagination__item_active .pagination__link{
    color: #ffffff;
    background-color: #27273e;
    border-radius: 4px;
    cursor: default;
}

.pagination__link_prev{
    background-image: url('../../../images/arrow_2.png');
    transform: rotate(-180deg);
}

.pagination__link_next{
    background-image: url('../../../images/arrow_2.png');
}

.pagination__link_active{
    opacity: .3;
}