.button{
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: #ffffff;
    font-family: "open_sansbold";
    padding: 0 21px;
    line-height: 54px;
    border-radius: 4px;
    font-size: 12px;
}

.button_bg_black{
    background-color: #1c1f1d;
}

.button_bg_black:hover{
    background-color: #f89513;
}

.button_bg_orange{
    background-color: #f89513;
}

.button_bg_orange:hover{
    background-color: #1c1f1d;
}