.menu__list{
    display: flex;
    align-items: center;
}
.menu__item{
    margin-left: 26px;
}

.menu__item:first-child{
    margin-left: 0;
}

.menu__item_active .menu__link{
    color: #f89513;
}

.menu__link{
    display: flex;
    align-items: center;
    color: #ffffff;
    font-family: "open_sansbold";
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    transition: .3s ease;
}

.menu__link:hover{
    color: #f89513;
}

.menu__link::before{
    content: '';
    display: flex;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 17px;
}

.menu__link_main-icon::before{
    width: 19px;
    height: 14px;
    background-image: url('../../../images/main_icon.png');
    transition: .3s ease;
}

.menu__item_active .menu__link_main-icon::before, .menu__link_main-icon:hover::before{
    background-image: url('../../../images/main_icon_hover.png');
}

.menu__link_feed-icon::before{
    width: 20px;
    height: 18px;
    background-image: url('../../../images/feed_icon.png');
    transition: .3s ease;
}

.menu__item_active .menu__link_feed-icon::before, .menu__link_feed-icon:hover::before{
    background-image: url('../../../images/feed_icon_hover.png');
}

.menu__link_service-icon::before{
    width: 19px;
    height: 14px;
    background-image: url('../../../images/service_icon.png');
    transition: .3s ease;
}

.menu__item_active .menu__link_service-icon::before, .menu__link_service-icon:hover::before{
    background-image: url('../../../images/service_icon_hover.png');
}