.title{
    color: #221f1f;
    font-family: 'Roboto';
    font-size: 49px;
    font-weight: 700;
}

.title_mb_30{
    margin-bottom: 30px;
}

.title_mb_50{
    margin-bottom: 50px;
}

.title_mb_70{
    margin-bottom: 70px;
}

.title_mb_29{
    margin-bottom: 29px;
}

.title_mb_40{
    margin-bottom: 40px;
}